/*  Author:  Michael Galarneau        */
/*  Class:  UNH Bootcamp              */
/*  Assignment:  Responsiveness       */
/*  Date:  9/28/2018                  */
/*  Filename:  media.css              */

/*****************/
/* Media Queries */
/*****************/

/* Hint: You won't need to use exact pixels for anything other than the container */

/* Column widths for desktop: */
.col-33 { width: 33.34%; }
.col-66 { width: 66.66%; }

.col-80 { width: 80.00%; }
.col-20 { width: 20.00%; }

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}
  
@media screen and (max-width: 640px) {

    /* Clear all column size limits for small screens to maximize screen usage */
    [class*="col-"] {
        width: 100%;
    }

    /* float the header so it doesn't stick to the top */
    header {
        position: unset;
    }

    /* float the footer so it scrolls off */
    footer {
        position: unset;
        width: 100%;
    }

    /* float the page with the header */
    .page {
        position: unset;
    }

    /* Span the logo as the whole top line */
    #logo {
        width: 100%;
        clear: both;
    }

    .navigation {
        overflow: hidden;
    }

    /* ensure the link bar centers under the header */
    .navigation ul {
        text-align: center;
      }

    /* don't inline float the link bar, give it a new line */
    .li a {
        float: left;
        display: block;
    }

    /* keep some left & right margins to match spec */
    .page {
        width: 90%;
    }

    /*******************************/
    /* Page Specific Media Queries */
    /*******************************/

    /*------------*/
    /* About Page */
    /*------------*/

    /* don't wrap the text around our page images */
    #biopic,
    #duckdiv {
        float: none;
    }

}  